form#serviceOfferForm .listTable td, th {
	font-size: 10px;
	empty-cells: show;
}

form#serviceOfferForm .listTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

form#serviceOfferForm .listTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

form#serviceOfferForm .listTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

form#serviceOfferForm .listTable .listTable_oddRow {
	background-color: #EFEFEF;	
}

form#serviceOfferForm .listTable .listTable_evenRow {
	background-color: #FFFFFF;	
}

form#serviceOfferForm input, select {
	border: 1px #CCCCCC solid;
	font-size: 9px;
}

form#serviceOfferForm h1 {
	font-size: 12px;
	margin-top: 3px;
    margin-bottom: 5px;
}

form#serviceOfferForm p {
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div#phasesDiv {
position: relative;
	padding-top:0px;
	margin-bottom: 20px;
	border: 0;
}


div#phasesDiv h1 {
position: relative;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
}

div#phasesDiv p {
position:relative;
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

div.buttonDiv {
	margin-top: 20px;
	text-align: right;
}

div.buttonDiv input {
	text-transform: uppercase;
}

form#serviceOfferForm div#sectionDiv {
	margin-bottom: 20px;
}

form#serviceOfferForm div.formElement {
	clear:left;
	margin-bottom: 5px;
}

form#serviceOfferForm div.formElement label {
	width: 150px;
	float:left;
}

form#serviceOfferForm label, labelText {
	font-size: 10px;
	font-weight: bold;
}

.formText {
	font-size: 10px;
}

.serviceDescription{
	font-size: 10px;
	clear: both;
	float:left;
}

form#serviceOfferForm div.formElement label.labelRadioButton{
	width: 40px;
	float: none;
}

form#serviceOfferForm .labelText{
	width: 150px;
	float:left;
	font-size: 10px;
	font-weight: bold;
}

form#serviceOfferForm div.formElement input.radio {
	float: left;
}

form#serviceOfferForm div.formElement textarea {
	clear: both;
	float:left;
	width: 100%;
	height: 120px;
	margin-top: 3px;
}

form#serviceOfferForm div.formElement select.selectionBox {
	clear: both;
	float:left;
	width: 100%;
	height: 120px;
	margin-top: 3px;
}

/* Thanks for the tip Haukur :) */
.Clear{
	clear: both;
	border-top: 1px solid #fff;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
