form#serviceOfferForm .listTable td, th {
	font-size: 10px;
	empty-cells: show;
}

form#serviceOfferForm .listTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

form#serviceOfferForm .listTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

form#serviceOfferForm .listTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

form#serviceOfferForm .listTable .listTable_oddRow {
	background-color: #EFEFEF;	
}

form#serviceOfferForm .listTable .listTable_evenRow {
	background-color: #FFFFFF;	
}

form#serviceOfferForm input, select {
	border: 1px #CCCCCC solid;
	font-size: 9px;
}

form#serviceOfferForm h1 {
	font-size: 12px;
}

form#serviceOfferForm p {
	font-size: 10px;
}

div.personInfoItem {
	float: left;
	width: 150px;
	height: 50px;
}

div.personInfoItem h1 {
	font-size: 10px;
	margin: 0;
}

div#phasesDiv {
	margin-bottom: 20px;
	border-top: 1px #CCCCCC solid;
}

div#phasesDiv h1 {
	font-size: 12px;	
}

div.buttonDiv {
	margin-top: 20px;
	text-align: right;
}

form#serviceOfferForm div#sectionDiv {
	margin-bottom: 20px;
}

#serviceOfferForm div.formElement {
	clear:left;
	margin-bottom: 5px;
}

#serviceOfferForm div.formElement label {
	width: 150px;
	float:left;
}

#serviceOfferForm label, labelText {
	font-size: 10px;
	font-weight: bold;
}

#serviceOfferForm div.formElement label.labelRadioButton{
	width: 40px;
	float: none;
}

#serviceOfferForm .labelText{
	width: 150px;
	float:left;
	font-size: 10px;
	font-weight: bold;
}

form#serviceOfferForm div.formElement input.radio {
	float: left;
}

form#serviceOfferForm div.formElement textarea {
	clear: both;
	float:left;
	width: 100%;
	height: 120px;
	margin-top: 3px;
}

/* Thanks for the tip Haukur :) */
.Clear{
	clear: both;
	border-top: 1px solid #fff;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
